# Project exclude paths
/project/target/
/target/
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/NussknackerDemo.iml
/.idea/modules/NussknackerDemo-build.iml
/.idea/codeStyles/Project.xml
/.bsp/sbt.json
/.idea/sbt.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_11_jar.xml
/.idea/scala_compiler.xml
/.idea/vcs.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_actor_typed_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_http_2_13_10_5_2_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_http_core_2_13_10_5_2_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_http_spray_json_2_13_10_5_2_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_parsing_2_13_10_5_2_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_protobuf_v3_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_slf4j_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_stream_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__com_typesafe_config_1_4_2_jar.xml
/.idea/libraries/sbt__com_typesafe_ssl_config_core_2_13_0_6_1_jar.xml
/.idea/libraries/sbt__io_spray_spray_json_2_13_1_3_6_jar.xml
/.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_4_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_13_1_0_0_jar.xml
/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_36_jar.xml
